# Python
venv/
__pycache__/
*.pyc

# Database
*.db

# Google credentials
credentials.json

# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/local.properties
android/.gradle/

# IDE
.idea/
.vscode/